#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Red Hat Reset Desktop
Exec=/usr/bin/rht-vmctl reset desktop
Icon=/usr/share/icons/gnome/scalable/apps/redhat-shadowman-bg.svg
Terminal=false
Type=Application
MimeType=text/xml;application/xhtml+xml;
StartupNotify=true
X-Desktop-File-Install-Version=0.1
Categories=Application;
